<h3>Login</h3>
<form method="post" name="forgetPassword">
<div align="center">
<table class="table">
  <tr>
  <th>User ID</th>
  <td><input name="uid" type="text" size=13 required></td>
  </tr>
  <tr>
  <th>Email</th>
  <td><input name="email" type="email" size=13 required></td>
  </tr>
  <tr>
    <td><input type="submit" name="submit" value="Send Password" class="btn btn-primary"></input>
    </td>
  </tr>
</table>
</div>
</form>
