<h3>Forget Password</h3>
<form method="post" name="frmLogin">
<div align="center">
<table class="table">
  <tr>
    <th>User ID</th>
    <td><input name="txtUserId" type="text" size=13 maxlength=13></td>
  </tr>
  <tr>
    <th>Password</th>
    <td><input name="txtPassword" type="password" size=13 maxlength=13></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><input type="submit" name="btnLogin" value="Login" class="btn btn-primary">
    <input type="submit" name="btnForget" value="Forget Password" class="btn"></input>
    </td>
  </tr>
</table>
</div>
</form>
