<h3>Problem Panel</h3>
<div align="center">

<form method="post"name="frmLogin">
<table class="table table-striped">
  <tr>
    
	<td><input type="submit" name="submit" value="Add Problem" class="btn btn-primary" ></td>
  </tr>
</table>
</form>

<table class="table table-striped">
  <tr>
    <th width="20%">Problem ID</th>
    <th>Problem Name</th>
    <!--<th>Visible</th>-->
    <th>&nbsp;</th>
  </tr>

  <{section name=id loop=$rs }>
    <tr <{if $rs[id].visible=="checked"}>class = "visible"<{/if}>>
      <td><a href=problem.php?pid=<{ $rs[id].pid }> ><{ $rs[id].pid }></a></td>
      <td><em><b><{ $rs[id].pname }></b></em></td>
      <!--<td><input type="checkbox" <{$rs[id].visible}> disabled /></td>-->
      <td><button class="btn"><a href=problem_panel.php?del=<{ $rs[id].pid }> onClick="return confirm('Are you sure that you want to DELETE this problem?')" ><b>Delete</b></a></button></td>
    </tr>
  <{/section}>
</table>
</div>
<br><br><br><br><br>
<br><br><br><br><br>
<br><br><br><br><br>
<!--
<script>
    function updateCheckBox(pid){
      console.log(pid);
      value = box = document.getElementById(pid);
      if(box.checked)
        value = 'checked'
      else
        value = 'unchecked' ;
      var xmlhttp=new XMLHttpRequest();
        xmlhttp.onreadystatechange=function() {
          if (xmlhttp.readyState==4 && xmlhttp.status==200) {
            //window.location="problem_panel.php";
              console.log("state-changed");
          }
        }
        console.log("problem_panel.php?visible="+value+"&pid="+pid);
        xmlhttp.open("GET","problem_panel.php?visible="+value+"&pid="+pid,true);
        xmlhttp.send("visible="+value+"&pid="+pid);
    }
</script>-->